{% extends 'appgestantes/tabs_detalle/_base_tab.html' %}

{% block edit_link %}

	{% url 'editar_general' gestante.id %}

{% endblock %}

<!--url editar arriba-->

{% block fields_left %}

	<div class="detail-field">
		<p> Fecha probable de parto </p>
		<h5 class="light">
			{{ gestante.fecha_probable_parto }}
		</h5>
		<h5>
			<small>
				confiable: {{ gestante.confiable }}
			</small>
		</h5>
	</div>
	<div class="detail-field">
		<p> Semana de gestación al ingresar </p>
		<h5 class="light">
		{% if gestante.semana_ingreso %}
			{{gestante.semana_ingreso}}
		{% else %}
			&nbsp;
		{% endif %}
		</h5>
	</div>
	<div class="detail-field">
		<p> Fecha de la ultima menstruación </p>
		<h5 class="light">
		{% if gestante.fecha_ultima_menstruacion %}
			{{gestante.fecha_ultima_menstruacion}}
		{% else %}
			&nbsp
		{% endif %}
		</h5>
	</div>
	<div class="detail-field">
		<p> Fecha de ingreso al programa </p>
		<h5 class="light">
		{% if gestante.fecha_ingreso_programa %}
			{{gestante.fecha_ingreso_programa}}
		{% else %}
			&nbsp
		{% endif %}
		</h5>
	</div>

{% endblock %}

{% block fields_right %}

	<div class="detail-field">
		<p> Número de identificación </p>
		<h5 class="light">
		{% if gestante.identificacion %}
			{{gestante.identificacion}}
		{% else %}
			&nbsp
		{% endif %}
		</h5>
	</div>
	<div class="detail-field">
		<p> Edad </p>
		<h5 class="light">
		{% if gestante.edad %}
			{{gestante.edad}}
		{% else %}
			&nbsp;
		{% endif %}
		</h5>
	</div>
	<div class="detail-field">
		<p> Captación </p>
		<h5 class="light">
		{% if gestante.captacion %}
			{{gestante.get_captacion_display}}
		{% else %}
			&nbsp
		{% endif %}
		</h5>
	</div>

{% endblock %}

{% block bottom %}

	<h5 class="light">Observaciones</h5>

	{% if gestante.observacion_set.all %}

		<ul class="collection">
		{% for observacion in gestante.observacion_set.all %}
			<li class="collection-item">
				{{observacion.texto}}
			</li>
		{% endfor %}
	</ul>


	{% else %}

	<p class="center-align">No hay observaciones</p class="center-align">
	
	{% endif %}

{% endblock %}