{% load staticfiles %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Gestantes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href='{% static "appgestantes/assets/css/materialize.min.css" %}'>
		<link rel="stylesheet" href='{% static "appgestantes/assets/css/main.css" %}'>
	</head>
	<body>
		<header>
			<nav class="nav-extended indigo lighten-2">
				<div class="nav-wrapper">
					<div class="container">
						<a href="{% url 'index' %}" class="brand-logo">Gestantes</a>
						<ul class="right hide-on-med-and-down">
							<li><a href="{% url 'index' %}">Pendientes</a></li>
							<li><a href="{% url 'prioritarias' %}">Prioritarias</a></li>
							<li><a href="{% url 'completa' %}">Lista completa</a></li>
							<li><a href="{% url 'pasadas' %}">Pasadas</a></li>
						</ul>
						<ul class="tabs tabs-transparent">
					        <li class="tab">{% block detail_link %} {% endblock %}</li>
						</ul>
					</div>
				</div>
		  	</nav>
		</header>
		<div class="pad-5"></div>
		<main>
			<div class="container z-depth-1" id="main-container">
				<div class="row">
					<div class="col s10 offset-s1">
						<div class="row">
							<div class="col s8">
								<h4 class="indigo-text text-lighten-1"> {{ form.nombre.value }}:  
								<small>{% block section_name %} {% endblock %}</small>
								</h4>
							</div>
						</div>
						
						{% block form_content %}

						{% endblock %}

						</div>
				</div>
			</div>
		</main>

		<div class="pad-10"></div>
		{% include "appgestantes/global_scripts.html" %}

		{% block scripts %}

		{% endblock %}

	</body>
</html>