{% extends 'appgestantes/forms_editar/_base_editar.html' %}

{% load staticfiles %}

{% block detail_link %}

	<a target="_self" href="{% url 'detalle' gestante_id %}#tab_primer_trimestre">Volver a primer trimestre</a>

{% endblock %}

{% block section_name %}

primer trimestre

{% endblock %}

{% block form_content %}

<form id="gest-form-update" action="" method="post" >{% csrf_token %}

<div class="row">
	<div class="col s6">
		<div class="input-field">

			{% if form.cuadro_hematico.errors %}
				<select id="{{ form.cuadro_hematico.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.cuadro_hematico.errors.as_text }}' id="{{form.cuadro_hematico.id_for_label}}" name="{{form.cuadro_hematico.html_name}}">
			{% else %}
				<select id="{{ form.cuadro_hematico.id_for_label }}" id="{{form.cuadro_hematico.id_for_label}}" name="{{form.cuadro_hematico.html_name}}">
			{% endif %}
			{% for cuadro_hematico_opcion in opciones_cuadro_hematico %}
				{% if form.cuadro_hematico.value == cuadro_hematico_opcion.0 %}
					<option value={{cuadro_hematico_opcion.0}} selected="selected">{{cuadro_hematico_opcion.1}}</option>
				{% else %}
					<option value={{cuadro_hematico_opcion.0}}>{{cuadro_hematico_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.cuadro_hematico.id_for_label }}">Cuadro hemático</label>

		</div>
	</div>
	<div class="col s6">
		<div class="input-field">
			
			{% if form.frotis_fecha.errors %}
				<input id="frotis_fecha" value="{{ form.frotis_fecha.value }}" name="{{ form.frotis_fecha.html_name }}" type="date" class="datepicker tooltipped" data-position="top" data-tooltip='{{ form.frotis_fecha.errors.as_text }}'  placeholder="Fecha de frotis" >
          	{% else %}
          		{% if form.frotis_fecha.value != none %}
          			<input id="frotis_fecha" value="{{ form.frotis_fecha.value }}" name="{{ form.frotis_fecha.html_name }}" type="date" class="datepicker" placeholder="Fecha de frotis" >
          		{% else %}
          			<input id="frotis_fecha" name="{{ form.frotis_fecha.html_name }}" type="date" class="datepicker" placeholder="Fecha de frotis" >
          		{% endif %}
          	{% endif %}
			<label class="active" for="frotis_fecha">Fecha de frotis</label>

		</div>
	</div>
</div>

<div class="row">
	<div class="col s6 inner-list">
		<!--To do: disabled y ninguno si cuadro hematico normal-->
		<p>Motivos cuadro hemático</p>
		
		<br><br>

		{% if not lista_motivosCH %}

		<p id="no-hems" class="center-align">No hay motivos, presione el botón para agregar uno</p class="center-align">
		
		{% else %}

		<p id="no-hems" class="center-align hide">No hay motivos, presione el botón para agregar uno</p class="center-align">

		{% endif %}

		<!--
			lista dinámica	
		-->

		<div id="hem-container">
			
		{% for motivo in lista_motivosCH %}

		<div class="row hem-row">
			<div class="col s10">
				<input value="{{ motivo.motivo }}" type="text" name="motivo_hematico" placeholder="Motivo" class="validate">	
			</div>
			<div class="col s2">
				<button type="button" class="hem-del btn-floating waves-effect waves-light red lighten-2"><i class="material-icons">delete</i></button>
			</div>
		</div>

		{% endfor %}

		<!-- fin del for -->

		</div>


		<div class="row">
			<div class="col s12 center-align">
				<a id="add-hem-btn" class="btn-floating waves-effect waves-light teal lighten-2"><i class="material-icons">add</i></a>
			</div>
		</div>


	</div>
	<div class="col s6">
		<!--To do: disabled si no hay fecha de frotis-->
		<br><br>
		<div class="input-field">

			{% if form.frotis_tipo.errors %}
				<select id="{{ form.frotis_tipo.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.frotis_tipo.errors.as_text }}' id="{{form.frotis_tipo.id_for_label}}" name="{{form.frotis_tipo.html_name}}">
			{% else %}
				<select id="{{ form.frotis_tipo.id_for_label }}" id="{{form.frotis_tipo.id_for_label}}" name="{{form.frotis_tipo.html_name}}">
			{% endif %}
			{% for frotis_tipo_opcion in opciones_frotis %}
				{% if form.frotis_tipo.value == frotis_tipo_opcion.0 %}
					<option value={{frotis_tipo_opcion.0}} selected="selected">{{frotis_tipo_opcion.1}}</option>
				{% else %}
					<option value={{frotis_tipo_opcion.0}}>{{frotis_tipo_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.frotis_tipo.id_for_label }}">Resultado frotis</label>

		</div>
	</div>
</div>

<div class="row">
	<div class="col s6">
	<br><br>
		<div class="input-field">
			
			{% if form.parcial_orina.errors %}
				<select id="{{ form.parcial_orina.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.parcial_orina.errors.as_text }}' id="{{form.parcial_orina.id_for_label}}" name="{{form.parcial_orina.html_name}}">
			{% else %}
				<select id="{{ form.parcial_orina.id_for_label }}" id="{{form.parcial_orina.id_for_label}}" name="{{form.parcial_orina.html_name}}">
			{% endif %}
			{% for parcial_orina_opcion in opciones_parcial_horina %}
				{% if form.parcial_orina.value == parcial_orina_opcion.0 %}
					<option value={{parcial_orina_opcion.0}} selected="selected">{{parcial_orina_opcion.1}}</option>
				{% else %}
					<option value={{parcial_orina_opcion.0}}>{{parcial_orina_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.parcial_orina.id_for_label }}">Parcial de orina</label>

		</div>
	</div>
	<div class="col s6 inner-list">
		<!--To do: disabled y ninguno si frotis normal-->
		<p>Motivos frotis</p>

		<br><br>


		{% if not lista_motivosFR %}

		<p id="no-frots" class="center-align">No hay motivos, presione el botón para agregar uno</p>

		{% else %}

		<p id="no-frots" class="center-align hide">No hay motivos, presione el botón para agregar uno</p>		

		{% endif %}

		<!--
			lista dinámica	
		-->

		<div id="frot-container">
			
		{% for motivo in lista_motivosFR %}

		<div class="row frot-row">
			<div class="col s10">
				<input value="{{ motivo.motivo }}" type="text" name="motivo_frotis" placeholder="Motivo" class="validate">	
			</div>
			<div class="col s2">
				<button type="button" class="frot-del btn-floating waves-effect waves-light red lighten-2"><i class="material-icons">delete</i></button>
			</div>
		</div>

		{% endfor %}

		</div>


		<div class="row">
			<div class="col s12 center-align">
				<a id="add-frot-btn" class="btn-floating waves-effect waves-light teal lighten-2"><i class="material-icons">add</i></a>
			</div>
		</div>
			
	</div>
</div>

<div class="row">
	<div class="col s6">
		<div class="input-field">

			{% if form.RH.errors %}
				<input id="RH" value="{{ form.RH.value }}" name="{{ form.RH.html_name }}" type="date" class="validate tooltipped" data-position="top" data-tooltip='{{ form.RH.errors.as_text }}'  placeholder="RH" >
          	{% elif form.RH.value != none %}
      			<input id="RH" value="{{ form.RH.value }}" name="{{ form.RH.html_name }}" type="date" class="validate" placeholder="RH" >
      		{% else %}
      			<input id="RH" name="{{ form.RH.html_name }}" type="date" class="validate" placeholder="RH" >
          	{% endif %}
			<label class="active" for="RH">RH</label>

		</div>
	</div>
	<div class="col s6">
		<div class="input-field">

			{% if form.factores_riesgo_diabetes_gestacional.errors %}
				<select id="{{ form.factores_riesgo_diabetes_gestacional.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.factores_riesgo_diabetes_gestacional.errors.as_text }}' id="{{form.factores_riesgo_diabetes_gestacional.id_for_label}}" name="{{form.factores_riesgo_diabetes_gestacional.html_name}}">
			{% else %}
				<select id="{{ form.factores_riesgo_diabetes_gestacional.id_for_label }}" id="{{form.factores_riesgo_diabetes_gestacional.id_for_label}}" name="{{form.factores_riesgo_diabetes_gestacional.html_name}}">
			{% endif %}
			{% for factores_riesgo_diabetes_gestacional_opcion in si_opciones %}
				{% if form.factores_riesgo_diabetes_gestacional.value == factores_riesgo_diabetes_gestacional_opcion.0 %}
					<option value={{factores_riesgo_diabetes_gestacional_opcion.0}} selected="selected">{{factores_riesgo_diabetes_gestacional_opcion.1}}</option>
				{% else %}
					<option value={{factores_riesgo_diabetes_gestacional_opcion.0}}>{{factores_riesgo_diabetes_gestacional_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.factores_riesgo_diabetes_gestacional.id_for_label }}">Factores de riesgo diabetes gestacional</label>

		</div>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<div class="input-field">

			{% if form.VDRL.errors %}
				<select id="{{ form.VDRL.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.VDRL.errors.as_text }}' id="{{form.VDRL.id_for_label}}" name="{{form.VDRL.html_name}}">
			{% else %}
				<select id="{{ form.VDRL.id_for_label }}" id="{{form.VDRL.id_for_label}}" name="{{form.VDRL.html_name}}">
			{% endif %}
			{% for VDRL_opcion in opciones_VDRL %}
				{% if form.VDRL.value == VDRL_opcion.0 %}
					<option value={{VDRL_opcion.0}} selected="selected">{{VDRL_opcion.1}}</option>
				{% else %}
					<option value={{VDRL_opcion.0}}>{{VDRL_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.VDRL.id_for_label }}">VDRL</label>

		</div>
	</div>
	<div class="col s6">
		<div class="input-field">

			{% if form.fecha_factores_diabetes.errors %}
				<input id="fecha_factores_diabetes" value="{{ form.fecha_factores_diabetes.value }}" name="{{ form.fecha_factores_diabetes.html_name }}" type="date" class="datepicker tooltipped" data-position="top" data-tooltip='{{ form.fecha_factores_diabetes.errors.as_text }}'  placeholder="Fecha factores diabetes" >
          	{% elif form.fecha_factores_diabetes.value != none %}
      			<input id="fecha_factores_diabetes" value="{{ form.fecha_factores_diabetes.value }}" name="{{ form.fecha_factores_diabetes.html_name }}" type="date" class="datepicker" placeholder="Fecha factores diabetes" >
      		{% else %}
      			<input id="fecha_factores_diabetes" name="{{ form.fecha_factores_diabetes.html_name }}" type="date" class="datepicker" placeholder="Fecha factores diabetes" >
          	{% endif %}
			<label class="active" for="fecha_factores_diabetes">Fecha factores diabetes</label>

		</div>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<div class="input-field">

			{% if form.VIH.errors %}
				<select id="{{ form.VIH.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.VIH.errors.as_text }}' id="{{form.VIH.id_for_label}}" name="{{form.VIH.html_name}}">
			{% else %}
				<select id="{{ form.VIH.id_for_label }}" id="{{form.VIH.id_for_label}}" name="{{form.VIH.html_name}}">
			{% endif %}
			{% for VIH_opcion in opciones_VIH %}
				{% if form.VIH.value == VIH_opcion.0 %}
					<option value={{VIH_opcion.0}} selected="selected">{{VIH_opcion.1}}</option>
				{% else %}
					<option value={{VIH_opcion.0}}>{{VIH_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.VIH.id_for_label }}">VIH</label>

		</div>
	</div>
	<div class="col s6">
		<div class="input-field">

			{% if form.estado_factores_diabetes.errors %}
				<select id="{{ form.estado_factores_diabetes.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.estado_factores_diabetes.errors.as_text }}' id="{{form.estado_factores_diabetes.id_for_label}}" name="{{form.estado_factores_diabetes.html_name}}">
			{% else %}
				<select id="{{ form.estado_factores_diabetes.id_for_label }}" id="{{form.estado_factores_diabetes.id_for_label}}" name="{{form.estado_factores_diabetes.html_name}}">
			{% endif %}
			{% for estado_factores_diabetes_opcion in opciones_frotis %}
				{% if form.estado_factores_diabetes.value == estado_factores_diabetes_opcion.0 %}
					<option value={{estado_factores_diabetes_opcion.0}} selected="selected">{{estado_factores_diabetes_opcion.1}}</option>
				{% else %}
					<option value={{estado_factores_diabetes_opcion.0}}>{{estado_factores_diabetes_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.estado_factores_diabetes.id_for_label }}">Estado factores diabetes</label>

		</div>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<div class="input-field">
			<p>

				{% if form.micronutrientes.errors %}
					{% if form.micronutrientes.value == 'Si' %}
						<input type="checkbox" name="{{ form.micronutrientes.html_name}}" value="{{ form.micronutrientes.value }}" class="filled-in" id="micronutrientes"  checked >
					{% else %}
						<input type="checkbox" class="filled-in" id="micronutrientes" name="{{ form.micronutrientes.html_name}}" value="No">
					{% endif %}
				{% else %}
					{% if form.micronutrientes.value != none and form.micronutrientes.value == 'Si'%}
						<input type="checkbox" name="{{ form.micronutrientes.html_name}}" value="{{ form.micronutrientes.value }}" class="filled-in" id="micronutrientes"  checked >
					{% else %}
						<input type="checkbox" class="filled-in" id="micronutrientes" name="{{ form.micronutrientes.html_name}}" value="No">
					{% endif %}
				{% endif %}
		        <label for="micronutrientes">Micronutrientes</label>
	
		    </p>
		</div>
	</div>
	<div class="col s6">
		<div class="input-field">

			{% if form.numero_factores_diabetes.errors %}
				<input id="numero_factores_diabetes" value="{{ form.numero_factores_diabetes.value }}" name="{{ form.numero_factores_diabetes.html_name }}" type="date" class="validate tooltipped" data-position="top" data-tooltip='{{ form.numero_factores_diabetes.errors.as_text }}'  placeholder="Resultado factores de riesgo diabetes" >
          	{% elif form.numero_factores_diabetes.value != none %}
      			<input id="numero_factores_diabetes" value="{{ form.numero_factores_diabetes.value }}" name="{{ form.numero_factores_diabetes.html_name }}" type="date" class="validate" placeholder="Resultado factores de riesgo diabetes" >
      		{% else %}
      			<input id="numero_factores_diabetes" name="{{ form.numero_factores_diabetes.html_name }}" type="date" class="validate" placeholder="Resultado factores de riesgo diabetes" >
          	{% endif %}
			<label class="active" for="numero_factores_diabetes">Resultado factores de riesgo diabetes</label>

		</div>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<div class="input-field">

			{% if form.antigeno_hepatitisB.errors %}
				<select id="{{ form.antigeno_hepatitisB.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.antigeno_hepatitisB.errors.as_text }}' id="{{form.antigeno_hepatitisB.id_for_label}}" name="{{form.antigeno_hepatitisB.html_name}}">
			{% else %}
				<select id="{{ form.antigeno_hepatitisB.id_for_label }}" id="{{form.antigeno_hepatitisB.id_for_label}}" name="{{form.antigeno_hepatitisB.html_name}}">
			{% endif %}
			{% for antigeno_hepatitisB_opcion in opciones_antigeno %}
				{% if form.antigeno_hepatitisB.value == antigeno_hepatitisB_opcion.0 %}
					<option value={{antigeno_hepatitisB_opcion.0}} selected="selected">{{antigeno_hepatitisB_opcion.1}}</option>
				{% else %}
					<option value={{antigeno_hepatitisB_opcion.0}}>{{antigeno_hepatitisB_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.antigeno_hepatitisB.id_for_label }}">Antígeno hepatitis B</label>

		</div>
	</div>
	<div class="col s6">
		<div class="input-field">

			{% if form.ecografia_fecha.errors %}
				<input id="ecografia_fecha" value="{{ form.ecografia_fecha.value }}" name="{{ form.ecografia_fecha.html_name }}" type="date" class="datepicker tooltipped" data-position="top" data-tooltip='{{ form.ecografia_fecha.errors.as_text }}'  placeholder="Fecha de ecografía" >
          	{% elif form.ecografia_fecha.value != none %}
      			<input id="ecografia_fecha" value="{{ form.ecografia_fecha.value }}" name="{{ form.ecografia_fecha.html_name }}" type="date" class="datepicker" placeholder="Fecha de ecografía" >
      		{% else %}
      			<input id="ecografia_fecha" name="{{ form.ecografia_fecha.html_name }}" type="date" class="datepicker" placeholder="Fecha de ecografía" >
          	{% endif %}
			<label class="active" for="ecografia_fecha">Fecha de ecografía</label>

		</div>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<div class="input-field">

			{% if form.toxoplasmosis_IGG.errors %}
				<select id="{{ form.toxoplasmosis_IGG.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.toxoplasmosis_IGG.errors.as_text }}' id="{{form.toxoplasmosis_IGG.id_for_label}}" name="{{form.toxoplasmosis_IGG.html_name}}">
			{% else %}
				<select id="{{ form.toxoplasmosis_IGG.id_for_label }}" id="{{form.toxoplasmosis_IGG.id_for_label}}" name="{{form.toxoplasmosis_IGG.html_name}}">
			{% endif %}
			{% for toxoplasmosis_IGG_opcion in opciones_toxoplasmosis_igg %}
				{% if form.toxoplasmosis_IGG.value == toxoplasmosis_IGG_opcion.0 %}
					<option value={{toxoplasmosis_IGG_opcion.0}} selected="selected">{{toxoplasmosis_IGG_opcion.1}}</option>
				{% else %}
					<option value={{toxoplasmosis_IGG_opcion.0}}>{{toxoplasmosis_IGG_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.toxoplasmosis_IGG.id_for_label }}">Toxoplasmosis IGG</label>

		</div>
	</div>
	<div class="col s6">
		<div class="input-field">

			{% if form.ecografia_semanas.errors %}
				<input id="{{ form.ecografia_semanas.id_for_label }}" value="{{ form.ecografia_semanas.value }}" name="{{ form.ecografia_semanas.html_name }}" type="text" class="validate tooltipped" data-position="top" data-tooltip='{{ form.ecografia_semanas.errors.as_text }}' >
          	{% else %}
          		{% if form.ecografia_semanas.value != none %}
          			<input id="{{ form.ecografia_semanas.id_for_label }}" value="{{ form.ecografia_semanas.value }}" name="{{ form.ecografia_semanas.html_name }}" type="text" class="validate">
          		{% else %}
          			<input id="{{ form.ecografia_semanas.id_for_label }}" name="{{ form.ecografia_semanas.html_name }}" type="text" class="validate" >
          		{% endif %}
          	{% endif %}
          	<label for="{{ form.ecografia_semanas.id_for_label }}">Semanas ecografía</label>

		</div>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<div class="input-field">

			{% if form.toxoplasmosis_IGM.errors %}
				<select id="{{ form.toxoplasmosis_IGM.id_for_label }}" class="tooltipped" data-position="top" data-tooltip='{{ form.toxoplasmosis_IGM.errors.as_text }}' id="{{form.toxoplasmosis_IGM.id_for_label}}" name="{{form.toxoplasmosis_IGM.html_name}}">
			{% else %}
				<select id="{{ form.toxoplasmosis_IGM.id_for_label }}" id="{{form.toxoplasmosis_IGM.id_for_label}}" name="{{form.toxoplasmosis_IGM.html_name}}">
			{% endif %}
			{% for toxoplasmosis_IGM_opcion in opciones_toxoplasmosis_igm %}
				{% if form.toxoplasmosis_IGM.value == toxoplasmosis_IGM_opcion.0 %}
					<option value={{toxoplasmosis_IGM_opcion.0}} selected="selected">{{toxoplasmosis_IGM_opcion.1}}</option>
				{% else %}
					<option value={{toxoplasmosis_IGM_opcion.0}}>{{toxoplasmosis_IGM_opcion.1}}</option>
				{% endif %}
			{% endfor %}
		    </select>
		    <label for="{{ form.toxoplasmosis_IGM.id_for_label }}">Toxoplasmosis IGM</label>

		</div>
	</div>
</div>

<br><br>
<div class="divider"></div>
<br><br>

<div class="row">
	<div class="col s12 center-align">
		<button type="submit" class="waves-effect waves-light btn">Guardar</button>
		&nbsp
		<a class="waves-effect waves-light btn red lighten-2">Cancelar</a>
	</div>
</div>

</form>

{% endblock %}

{% block scripts %}

<script src='{% static "appgestantes/assets/js/editar_primer_trimestre.js" %}'></script>

{% endblock %}