{% load staticfiles %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Gestantes</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href='{% static "appgestantes/assets/css/materialize.min.css" %}'>
		<link rel="stylesheet" href='{% static "appgestantes/assets/css/main.css" %}'>
	</head>
	<body>
		<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

			<header>
				<nav class="indigo lighten-2">
					<div class="nav-wrapper">
						<div class="container">
							<a href="{% url 'index' %}" class="brand-logo">Gestantes</a>
							<ul class="right hide-on-med-and-down">
								<li class='{% if request.resolver_match.view_name == "index" %}active{% endif %}'><a href="{% url 'index' %}">Pendientes</a></li>
								<li class='{% if request.resolver_match.view_name == "prioritarias" %}active{% endif %}'><a href="{% url 'prioritarias' %}">Prioritarias</a></li>
								<li class='{% if request.resolver_match.view_name == "completa" %}active{% endif %}'><a href="{% url 'completa' %}">Lista completa</a></li>
								<li class='{% if request.resolver_match.view_name == "pasadas" %}active{% endif %}'><a href="{% url 'pasadas' %}">Pasadas</a></li>
							</ul>
						</div>
					</div>
			  	</nav>
			</header>
			<main>
				{% block before_main %}
				<div class="container">
					<div id="btn-new-container" class="center-align">
						<a href="{% url 'nueva' %}" class="waves-effect waves-light indigo accent-2 btn-large">Nuevo registro</a>
					</div>
				</div>
				{% endblock %}
				<div class="container z-depth-1" id="main-container">
					<div class="row">
						<div class="col s10 offset-s1">
							<div class="section row">
								<div class="col s8">
									<h5 class="indigo-text text-lighten-1">

									{% block title %}

									{% endblock %}

									</h5>
									
									

									<p>
									{% block subtitle %}
										Haga click en una fila para ver más información
									{% endblock %}
									</p>
								</div>
								
								{% block search %}

								{% endblock %}

							</div>
							<div class="section">

							{% block content %}

							{% endblock %}

							</div>
						</div>
					</div>
				</div>
			</main>
		<div class="pad-10"></div>
		<script src='{% static "appgestantes/assets/js/jquery-3.1.1.min.js" %}'></script>
		<script src='{% static "appgestantes/assets/js/main.js" %}'></script>
		<script src='{% static "appgestantes/assets/js/materialize.min.js" %}'></script>
	</body>
</html>

