{% extends 'appgestantes/_base_tablas.html' %}

{% load static %}

{% block title %}
	Todas las gestantes en el sistema
{% endblock %}

{% block search %}

<div class="search-table input-field col s4">
	<input id="first_name" type="text" class="validate">
    <label for="first_name">Buscar</label>
</div>

{% endblock %}

{% block content %}
	<table class="highlight">
	  <thead>
	    <tr>
	        <th>Nombre</th>
	        <th>Identificación</th>
	        <th>Fecha probable de parto</th>
	        <th>&nbsp</th>
	    </tr>
	  </thead>
	  <tbody>
	  {% for gestante in lista_gestantes %}
	    <tr class="clickable-row" data-href="{% url 'detalle' gestante.id %}">
	      <td>{{ gestante.nombre }}</td>
	      <td>{{ gestante.identificacion }}</td>
	      <td>{{ gestante.fecha_probable_parto }}</td>
	    </tr>
	  {% endfor %}
	  </tbody>
	</table>		
{% endblock %}